<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Proiect licenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css.font-awesome.min.css">-->
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>

    <div id="slider">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">

        <div id="slides">

            <div id="overflow">

                <div class="inner">

                    <div class="slide slide_1">
                        <div class="slide-content">
                            <img src="/imagini/laser.jpeg">
                        </div>
                    </div>

                    <div class="slide slide_2">
                        <div class="slide-content">
                            <img src="/imagini/logo.jpeg">
                        </div>
                    </div>

                    <div class="slide slide_3">
                        <div class="slide-content">
                            <img src="/imagini/intrare.jpeg">
                        </div>
                    </div>

                    <div class="slide slide_4">
                        <div class="slide-content">
                            <img src="/imagini/vertical.jpeg">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
        <div id="bullets">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
    </div>

</body>

</html>