<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Proiect licenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css.font-awesome.min.css">-->
    <link rel="stylesheet" href="style.css">

    <!--pentru icons si fontul logo-ului-->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
</head>

<body>

    <!--Header-->
    <nav>
        <label class="phone">
            <ul>
                <li><i class="fas fa-phone-volume"></i>
            <a href="tel:0753061621">0753061621</a></li>
            <li> <a href="https://www.facebook.com/soleilconstanta"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://www.instagram.com/soleilconstanta/"><i class="fab fa-instagram"></i></a></li>
        </ul>
            
        </label>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo1">Soleil</label>
        <br>
        <label class="logo2">Tan & Beauty</label>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <!--Body-->

    <section id="home">

        <div id="slider">
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <input type="radio" name="slider" id="slide4">

            <div id="slides">

                <div id="overflow">

                    <div class="inner">

                        <div class="slide slide_1">
                            <div class="slide-content">
                                <img src="/imagini/logo_contact.jpeg">
                            </div>
                        </div>

                        <div class="slide slide_2">
                            <div class="slide-content">
                                <img src="/imagini/logo.jpeg">
                            </div>
                        </div>

                        <div class="slide slide_3">
                            <div class="slide-content">
                                <img src="/imagini/creme_2.jpeg">
                            </div>
                        </div>

                        <div class="slide slide_4">
                            <div class="slide-content">
                                <img src="/imagini/vertical.jpeg">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="controls">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>
            </div>
            <div id="bullets">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>
            </div>
        </div>
    </section>

    <!--About Us-->
    <section id="about">

        <div class="aboutus">
            <p>Întotdeauna ai visat la un ten strălucitor, fără imperfecțiuni, un abdomen plat, coapse ferme, fără celulită, picioare si brațe fine, bronz uniform si sănătos?</p>
            <p> Misiunea noastră este frumusețea ta şi avem tot ce ne trebuie pentru a atinge perfecțiunea: o echipă profesionistă, aparatură de ultimă generație, tot ce este nou în materie de înfrumusetare, epilare, bronz si întreținere corporală.</p>
            <p>Ținem pasul cu tot ce este nou in materie de remodelare corporală și facială şi este completată de echipamente de ultimă generație, astfel încât tu să obții rezultate spectaculoase.</p>
        </div>

    </section>

    <section id="service">Service section
    </section>


    <section id="contact">Contact section</section>



    <!--Footer-->
    <footer class="footer">
        <div class="footer-left">
            <!--<img src="imagini/logo.jpeg" alt="logo">-->
            <p>Descriere</p>
            <div class="socials">
                <a href="https://www.facebook.com/soleilconstanta"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/soleilconstanta/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <ul class="footer-right">
            <li>
                <h2>Scurtaturi</h2>

                <ul class="box">
                    <li><a href="#">Preturi</a></li>
                    <li><a href="#">Produse</a></li>
                    <li><a href="#">Servicii</a></li>
                </ul>
            </li>

            <li class="features">
                <h2>Contact</h2>

                <ul class="box">
                    <li><a href="#">Telefon</a></li>
                    <li><a href="#">Strada</a></li>
                    <li><a href="#">Email</a></li>
                </ul>
            </li>

            <li>
                <h2>Program</h2>

                <ul class="box">
                    <li><a href="#">Luni-Vineri</a></li>
                    <li><a href="#">Sambata</a></li>
                    <li><a href="#">Duminica</a></li>
                </ul>
            </li>
        </ul>

        <div class="footer-bottom">
            <p>All Right reserved by &copy;Soleil Tan & Beauty 2021</p>
        </div>
    </footer>

    <!--scrollspy-->
    <script type="text/javascript">
        let home = document.querySelector("#home");
        let about = document.querySelector("#about");
        let services = document.querySelector("#services");
        let contact = document.querySelector("#contact");


        window.addEventListener("scroll", () => {
            var windo = window.pageYOffset;
            if (about.offsetTop <= windo && services.offsetTop > windo) {
                console.log("About");
                document.querySelector(".about").setAttribute("id", "active");
                document.querySelector(".services").removeAttribute("id", "active");
                document.querySelector(".contact").removeAttribute("id", "active");
                document.querySelector(".home").removeAttribute("id", "active");
            } else if (services.offsetTop <= windo && contact.offsetTop > windo) {
                console.log("Services");
                document.querySelector(".services").setAttribute("id", "active");
                document.querySelector(".about").removeAttribute("id", "active");
                document.querySelector(".contact").removeAttribute("id", "active");
                document.querySelector(".home").removeAttribute("id", "active");
            } else if (contact.offsetTop <= windo) {
                console.log("Contact");
                document.querySelector(".contact").setAttribute("id", "active");
                document.querySelector(".services").removeAttribute("id", "active");
                document.querySelector(".about").removeAttribute("id", "active");
                document.querySelector(".home").removeAttribute("id", "active");
            } else {
                console.log("Home");
                document.querySelector(".home").setAttribute("id", "active");
                document.querySelector(".services").removeAttribute("id", "active");
                document.querySelector(".contact").removeAttribute("id", "active");
                document.querySelector(".about").removeAttribute("id", "active");
            }

        });
    </script>

</body>

</html>