<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <!--am pus '/' inaintea lui style.css pentru a se uita la fisierul "style.css" din folderul "public"-->
    <title>Document</title>
</head>

<body>

    <nav>
        <h4>Admin Page</h4>
        <!--

       <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/login">Login</a></li>
           <li><a href="/register">Register</a></li>
        
        <li><a href="/adaugaAngajat">Adauga angajat</a></li>

       </ul>

       -->

        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>

        <div class="dropdown">
            <button class="dropbtn">Adauga</button>
            <div class="dropdown-content">
                <a href="/adaugaAngajat">Adauga angajat</a>
                <a href="/adaugaServiciu">Adauga serviciu</a>
                <a href="/adaugaCategorie">Adauga categorie</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Vizualizeaza</button>
            <div class="dropdown-content">
                <a href="/vizualizeazaCategorii">Categorii</a>

            </div>
        </div>

    </nav>

    <form action="/vizualizeazaCategorii" method="GET">

        <table class="table table-dark table-striped">

            <thead>
                <tr>
                    <th>Nume categorie</th>
                    <th>Actiune</th>
                </tr>
            </thead>

            <tbody>
                <% categorii.forEach(function(categorie){%>
                    <tr>
                        <td>
                            <%= categorie.nume %>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary">Edit</button>
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>

</html>